<h1>{{company.name}}</h1>
<div>
    <div>Address:{{company.address}}</div>
</div>
<button class="btn btn-success" (click)="addEmployee()">Add Employee</button>
<table class='table' *ngIf="company.employees">
    <thead>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Vacation Days</th>
        <th>Experience Level</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of company.employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.vacationDays }}</td>
        <td>{{ experienceLevelOptions[employee.experienceLevel].value }}</td>
        <td>{{ employee.startDate | date }}</td>
        <td>
            <button class="btn btn-success" (click)="editEmployee(employee)"> Edit</button>
            <button class="btn btn-success"
              mwlConfirmationPopover
              [popoverMessage]="popoverMessage"
              placement="left"
              (confirm)="deleteEmployee(employee)" style="margin-left: 20px;">
              Delete
            </button>
        </td>
      </tr>
    </tbody>
  </table>
